fastapi
celery
redis
pytesseract
opencv-python-headless
pdf2image
ollama
uvicorn[standard]
requests
python-multipart
pdftext
argparse
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
transformers
surya-ocr==0.4.14
marker-pdf==0.2.6
boto3
Pillow
python-magic
maker
setuptools
PyYAML
botocore
protobuf
opencv-python
numpy
pydantic
python-dotenv
libmagic