fastapi
celery
redis
pytesseract
opencv-python-headless
pdf2image
ollama
uvicorn[standard]
requests
python-multipart
pdftext==0.3.7
requests
argparse
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
transformers==4.45.2
surya-ocr==0.4.14
marker-pdf==0.2.6
